# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
backend/db_init.py
backup.sql
backend/backup.sql
backend/create_backup.py
backend/verify_migration.py
verify_migration.py
tables.txt
redis/
